[Unit]
Description=Monitoring script for process 'test'
After=network.target
# Запускаем после сети, так как нам нужен curl

[Service]
Type=simple
# Путь к вашему скрипту
ExecStart=/usr/local/bin/monitor_test.sh
# Автоматический рестарт скрипта, если он упадет
Restart=always
# Запуск от root необходим для записи в /var/log/
User=root
Group=root

[Install]
# Запускаться на многопользовательском уровне (стандартный запуск системы)
WantedBy=multi-user.target
